h1{
    font-family: sans-serif;
    font-size: 65px;   
    color: orange;
    }

    ul{
        background-color: aquamarine;
        line-height: 40px;
        font-size: 20px;
    }  

    .cor-fundo{
        background-color: aquamarine;
        font-style: italic;
        text-align: center;
    }
    
    p{
        font-weight: 600;
        font-size: 3em;
    }

    body{
        font-size: 16px;
    }
    
    #vermelho {
        text-decoration: line-through;
        background-color: red;
    }

    #amarelo {
        text-decoration: underline;
        background-color: yellow;
    }

    #marrom{
        text-decoration: overline;
        background-color: brown;
    }
