.super-mario {
    width: 200px;
    position: absolute;
    bottom: 45%;
}

.goomba {
    width: 100px;
    position: absolute;
    bottom: 280px;
    right: 598px;
}

.baloon {
    position: absolute;
    right: 40%;
    z-index: 1;
} 

p {
    position: absolute;
    z-index: 2;
    bottom: 595px;
    right: 44%;
    }

.speach {
    font-size: 25px;
    position: absolute;
}

.bowser {
    width: 200px;
    position: absolute;
    right: 150px;
    bottom: 400px;
}