*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #344e41;
    color: #3a5a40;
}

.nav{
    text-decoration: none;
    color: #344e41;
}

a:hover{
    font-weight: bold;
}

h1, h2 {
    font-family: sans-serif;
    color: black;
    padding: 10px;
    text-align: center;
}


.container{
    background-color: #dad7cd;
    border: 1px solid #dad7cd;
    border-radius: 5px;
    margin: 10px;
    width: 80%;
    padding: 10px;
    text-align: justify;
}

.img {
    border-radius: 10px;
    background-color: #344e41;
    padding: 5px;
}

.referencias {
    padding: 20px;
}

footer {
    color: #dad7cd;
    text-align: right;
    padding: 15px;
}

table {
    border: 1px solid black;
    padding: 10px;
}

.coluna {
    border-right: 1px solid black;
    padding-right: 10px;
}

.table {
    border: 1px solid black;
    width: 444 px;
}