body {
    background-color: #e6f9af;
    color: rgb(020, 200, 155);
}

header {
    border: #5b8e7d solid;
    background-color: #5b8e7d;
}

section {
    
}

footer {
    border: #5b8e7d solid;
    background-color: #5b8e7d;
    color: white;
}

blockquote {
    border: #9b9b7a solid;
    background-color: #9b9b7a;
    color: white;
}

.tabela {
   margin-left: 50%;
   border: #9b9b7a solid;
   background-color: #9b9b7a;
   color: white;
}

.artigo {
    float: left; 
    margin-right: auto;
    border: #9b9b7a solid;
    background-color: #9b9b7a;
    color: white;
}

