ol {
    background-color: yellow;
}

ol li:nth-of-type(even) {
    color: green;
}

ol li:nth-of-type(odd) {
    text-transform: uppercase;
}

h1, h3 {
    color: red;
}

h1 {
    font-size: 40px;
    border: 1px solid black;
}