.super-mario {
    width: 200px;
    position: absolute;
    right: 40%;
    bottom: 45%;
}

.goomba {
    width: 100px;
    position: absolute;
    bottom: 200px;
    right: 46%;
}

.baloon {

}

.speach {
    font-size: 25px;
    position: absolute;
}

.bowser {
    width: 200px;
    position: absolute;
    right: 30px;
}